body {
    background: linear-gradient(135deg, #250a4c, #fecfef);
    color: white;
}

/* 2. 가사 영역 꾸미기 */
.lyrics-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

.highlight {
    color: #F0E68C;
    font-weight: bold;
}

.unhighlight {
    color: #fecfef;
}


/* 4. 표(table) 꾸미기 */
#track-table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* 5. 버튼 꾸미기 */
.listen-btn {
    background: rgba(255, 255, 255, 0.2);
    color: #F0E68C;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 40px;
    transition: color 0.3s ease, background 0.3s ease;
}

.listen-btn:hover {
    color: #fecfef;
    background: rgba(255, 255, 255, 0.3);
}